@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

html,body {
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    font-family: Gilroy-Medium;
}
.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    font-size: 18px;
    margin-top:23px;
}
.header a {
    text-decoration: none;
}
.home {
    color:black;
}
.link {
    color: rgba(130, 130, 130, 1);
}
.header-devider {
    margin-top: 31px;
    width: 67.3%;
    background-color: rgba(130, 130, 130, 1);
    margin-left: 0 auto;
}
.header a:active {
    color: black;
}
.header a[tabindex]:focus {
    color:black;
}
.header a:first-child {
    color: black;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
}
.title-container {
    display: flex;
    flex-direction: row;
    font-family: Gilroy-Bold;
    width: 67.3%;
    align-items: flex-end;
    margin-top:40px;
    margin-bottom: 50px;
}
.title-container h1 {
    font-size: 47px;
    width:122px;
    margin:0;
    justify-self: flex-start;
}
.about {
    font-size: 18px;
    justify-self: center;
    margin-left: auto;
}
.title-container a {
    background-color: transparent;
    border: none;
    transform: rotate(-90deg);
    font-size: 16px;
    height:1em;
    padding: 0;
    padding-left:25px;
    padding-top: 50px;
    justify-self: flex-end;
    margin-left:auto;
    text-decoration: none;
    color: var(--color);
    font-weight: var(--font);
}
.title-container a:after {
    content: "| ENG";
    color: var(--coloralt);
    font-weight: var(--fontalt);
}
.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-image {
    width: 67.3%;
    height: auto;
    margin-bottom:100px;
}
.about-me {
    height: 500px;
    background-color: rgba(246, 246, 246, 1);
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-text {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:485px;
    text-align: center;
    font-size: 18px;
}
.about-text h2 {
    font-size: 34px;
}
.skills-title {
    text-align: center;
    font-size:34px;
    margin-top:90px;
}
.programs {
    text-align: center;
    font-size:18px;
    margin-top:69px;
}
.icons {
    width:100;
    height: 210px;
}
.icon-one {
    width: 166px;
    height: 245px;
    margin-right: 90px;
}
.photoshop {
    background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
    width: 89px;
    height: 89px;
    text-align: center;
    line-height: 89px;
    font-size: 60px;
    color: rgba(49, 197, 240, 1);
    border-color: rgba(49, 197, 240, 1);
    border: solid 5px;
    margin-left: 36px;
}
.label {
    margin-top: 24px;
    text-align: center;
    font-size: 17px;
    color: rgba(130, 130, 130, 1);
}
.icons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon {
    height: 26px;
    width: auto;
    width: 166px;
}
.rating {
    margin-top:40px;
}
.illustrator {
    background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
    width: 89px;
    height: 89px;
    text-align: center;
    line-height: 89px;
    font-size: 60px;
    color: rgba(255, 127, 24, 1);
    border-color: rgba(255, 127, 24, 1);
    border: solid 5px;
    margin-left: 36px;
}
.after-effects {
    background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
    width: 89px;
    height: 89px;
    text-align: center;
    line-height: 89px;
    font-size: 60px;
    color: rgba(216, 161, 255, 1);
    border-color: rgba(216, 161, 255, 1);
    border: solid 5px;
    margin-left: 36px;
}
.figma {
    width: 58px;
    height: 88px;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.label-figma {
    margin-top: 34px;
    text-align: center;
    font-size: 17px;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 62px;
}
.left-half-circle {
    width: 29px;
    height: 29px;
    border: solid transparent 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.right-half-circle {
    width: 29px;
    height: 29px;
    border: solid transparent 0px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.circle {
    width: 29px;
    height: 29px;
    border: solid transparent 0px;
    border-radius: 50%;
}
.semi-cirle {
    width: 29px;
    height: 29px;
    border: solid transparent 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.red {
    background-color: rgba(242, 78, 30, 1);
}
.coral {
    background-color: rgba(255, 114, 98, 1);
}
.purple {
    background-color: rgba(162, 89, 255, 1);
}
.blue {
    background-color: rgba(26, 188, 254, 1);
}
.green {
    background-color: rgba(10, 207, 131, 1);
}
.contacts-title {
    text-align: center;
    font-size:34px;
    margin-top:90px;
}
.contacts-label {
    margin-top: 20px;
    font-size: 21px;
    text-align: center;
}
.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 76px;
}
.message {
    width: 180px;
    height: 41px;
    border: solid 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: black;
    font-size: 20px;
    margin-bottom: 52px;
    transition: all 0.3s;
}
.message:hover {
    width: 160px;
    height: 35px;
    font-size: 18px;
    margin-bottom: 58px;
}
.networks {
    width: 100%;
    margin-bottom: 43px;
}
.networks .container {
    width: 342px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}
.linkedin {
    color: black;
    font-weight: bolder;
    border: solid black 3px;
    border-radius: 10px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
}
.linkedin_a {
    color: black;
    text-decoration: none;
}
.instagram_a {
    color: black;
    text-decoration: none;
}
.instagram_outlined {
    width: 36px;
    height: 36px;
    border: solid black 3px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.instagram_circle {
    width: 20px;
    height: 20px;
    border: solid black 3px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}
.instagram_point {
    width: 0px;
    height: 0px;
    border: solid black 2px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 3px;
}
.behance_a {
    color: black;
    text-decoration: none;
}
.dribble_a {
    color: black;
    text-decoration: none;
}
.behance {
    color: black;
    font-weight: bolder;
    border: solid black 3px;
    border-radius: 10px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 26px;
}
.footer {
    width: 100%;
}
.footer_container {
    color: rgba(130, 130, 130, 1);
    font-size: 17px;
    text-align: center;
    padding-bottom: 92px;
}
.menu_container {
    display: none;
}
.backdrop {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
.right-side {
    margin-top: 17%;
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.close {
    width: 56px;
    height: 56px;
    position: relative;
}
.close_line {
    width: 100%;
    height: 4px;
    background-color: rgba(130, 130, 130, 1);
    border: none;
    position: absolute;
}
.close:active .close_line {
    background-color: black;
}
.close_line:first-child {
    transform: rotate(45deg);
}
.close_line:last-child {
    transform: rotate(135deg);
}
.change-lang {
    font-size: 56px;
    text-decoration: none;
    color: var(--color);
    transform: rotate(90deg);
    font-weight: var(--font);
    padding-top: 20px;
}
.change-lang:after {
    content: '| ENG';
    color: var(--coloralt);
    font-weight: var(--fontalt);
}
.message_backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(46, 46, 46, 0.33);
    display: flex;
    justify-content: center;
    align-items: center;
}
.message_box {
    width: 528px;
    height: 581px;
    border-radius: 5px;
    background-color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contact_form {
    width: 100%;
    height: 80%;
}
.contact_form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact_form form input {
    width: 80%;
    height: 40px;
    border: solid 1px black;
    border-radius: 10px;
}
.contact_form form textarea {
    width: 80%;
    height: 200px;
    border: solid 1px black;
    border-radius: 10px;
}
.contact_form form button {
    width: 80%;
    height: 41px;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 24px;
    background-color: black;
    color: white;
}
.close_message {
    width: 32px;
    height: 32px;
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
}
.close_message:active .message-line {
    background-color: black;
}
.message-line {
    height: 4px;
    border: none;
    background-color: rgba(130, 130, 130, 1);
    transform: rotate(45deg);
    position: absolute;
    width: 100%;
}
.message-line:last-child {
    transform: rotate(135deg);
}
.header_menu a:first-child {
    color: black;
}
.is-hidden {
    display: none;
}
@media screen and (max-device-width: 415px) {
    html {
        scroll-behavior: auto;
    }
    .header {
        display: none;
    }
    .header-devider {
        display: none;
    }
    .menu_container {
        display: flex;
        flex-direction: column;
        width: 33px;
        height: 20px;
        overflow: hidden;
        justify-content: space-between;
        padding-top: 29px;
        padding-right: 30px;
        background-color: transparent;
        border: none;
    }
    .menu_line {
        width: 100%;
        background-color: black;
        padding: 0;
        height: 0px;
        border-width: 2px;
        border-color: black;
        margin: 0;
    }
    .about {
        font-size: 34px;
    }
    .title-container a {
        display: none;
    }
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }
    .title-container {
        margin: 0;
        width: auto;
        padding-left: 26px;
        padding-top: 26px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 34px;
    }
    .title-container h1 {
        font-size: 68px;
    }
    .main-image {
        content: url("../images/image.png");
        width: 90vw;
        height: 135vw;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .about-text p {
        font-size: 24px;
    }
    .programs {
        font-size: 24px;
        margin-bottom: 70px;
    }
    .icons {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .icon-one {
        margin: 0;
        margin-bottom: 80px;
    }
    .icon-one:last-child {
        margin-bottom: 0;
    }
    .icon-one .label, .label-figma {
        font-size: 24px;
    }
    .contacts-label {
        font-size: 36px;
    }
    .message {
        width: 84%;
        font-size: 24px;
        height: 50px;
    }
    .message:hover {
        width: 80%;
        font-size: 24px;
        height: 50px;
        margin-bottom: 52px;
    }
    .networks .container {
        width: 100%;
        justify-content: space-around;
    }
    .footer .container {
        font-size: 23px;
    }
    .header_menu {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-around;
        font-size: 56px;
        margin-left: 26px;
        margin-top: 66px;
        height: 50%;
    }
    .header_menu a {
        text-decoration: none;
        color: rgba(130, 130, 130, 1);
    }
    .header_menu a:first-child {
        color: black;
    }
    .title {
        width: auto;
    }
    .footer_container {
        font-size: 22px;
    }

}