@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@font-face {font-family: "Suisse Int'l";
    src: url("../fonts/Suisse-FreeTrial/SuisseIntl-FreeTrial/Web/TTF/SuisseIntl-Regular-WebTrial.ttf") format("truetype"); }
/*@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');*/
@font-face {font-family: "Comforter";
    src: url("../fonts/Comforter-Regular.ttf") format("truetype"); }
body,html, * {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    height:100%;
    width:100%;
}
header {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}
.header .container {
    width:90%;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header label {
    font-size: 45px;
    margin-right: 50px;
    color: rgba(35, 35, 35, 1);
}
.devider {
    width:1px;
    height:40px;
    border:none;
    background-color: rgba(226, 226, 226, 1);
}
.exchange {
    display: flex;
    flex-direction: column;
}
.exchange label {
    font-size: 16px;
    text-align: center;
}
.exchange label:last-child {
    text-align: center;
    background-color: rgba(74, 210, 149, 1);
    color: rgba(74, 210, 149, 1);
    width: 35px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.rates {
    font-weight: 700;
    color: rgba(57, 57, 57, 1);
}
.networks {
    color:black;
    width:20px;
    height:20px;
    margin-right:10px;
}
.networks:last-child {
    margin-right:0px;
}
.mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.phones {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-right:7px;
    width: auto;
}
.phones label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 0px;
}
.search-button {
    width:240px;
    height:55px;
    display: flex;
    flex-direction: row;
}
.search-button .text {
    height:100%;
    width: 185px;
    background-color: rgba(239, 243, 246, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.search-button .text label {
    margin-left: 10%;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}
.button {
    width:55px;
    height:55px;
    background-color: rgba(221, 64, 83, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}
.search-button:last-child .button {
    background-color: rgba(74, 210, 149, 1);
}
.hr-devider {
    width:100%;
    height:1px;
    background-color: rgba(208, 208, 208, 1);
}
.toolbar {
    width:100%;
    height:70px;
    display:flex;
    justify-content: center;
}
.toolbar .container {
    width:76%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
.menu-item label {
    font-size: 19px;
    font-family: "Suisse Int'l";
    font-weight: 400;
    color: rgba(97, 97, 97, 1);
}
.menu-button {
    width: 0px;
    height: 0px;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:6px solid rgba(196, 196, 196, 1);
    margin-left:7px;
    margin-top:0.2em;
}
.banner {
    width:100%;
    height:490px;
}
.banner .container {
    width:100%;
    height:100%;
    overflow: hidden;
}
.banner .container .image {
    width:100%;
    height:100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%), url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.front-layer {
    margin-left: 14%;
    color: white;
}
.front-layer .price {
    font-size: 24px;
    width: 249px;
    height: 45px;
    border: solid 1px white;
    text-align: center;
    line-height: 45px;
    margin-bottom: 16px;
}
.front-layer .text {
    background-color: transparent;
    font-size: 45px;
    width: 700px;
    margin-bottom: 40px;
}
.details-btn {
    width: 270px;
    height: 60px;
    background: rgba(255,255,255,0.25);
    border-radius: 2px;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.banner-info {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: rgba(248, 248, 248, 1);
}
.banner-info .container {
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.banner-info .container .text {
    font-size: 30px;
    max-width: 18em;
    margin-bottom: 15px;
}
.banner-info .container .under-text {
    font-size: 18px;
    color: rgba(119, 119, 119, 1);
    margin-bottom: 20px;
}
.suggestions {
    width: 270px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba(189, 189, 189, 1);
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 30px;
}
.consultation {
    width: 220px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 2px;
    color: rgba(150, 150, 150, 1);
    font-size: 16px;
    font-weight: bold;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    color: rgba(61, 61, 61, 1);
    font-weight: bold;
    font-size: 18px;
}
.right-side span img {
    margin-right: 33px;
    border: 1px dashed rgba(150, 150, 150, 1);
    border-radius: 50%;
    padding: 12px;
}
.right-side span {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hotels {
    width: 100%;
    margin-top: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.hotels .header {
    width: 72%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 52px;
}
.control-leftside {
    display: flex;
    flex-direction: row;
}
.control-leftside label {
    white-space: nowrap;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.button-list {
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.button-list .arrow {
    width: 7px;
    height: 7px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    transform: rotate(45deg);
    margin-left: 18px;
    top: 40%;
    left: 20%;
}
.button-list .arrow-line {
    width: 25px;
    height: 1px;
    border: none;
    background-color: black;
    position: absolute;
    margin-top: 3.9px;
    top: 40%;
    left: 20%;
}
.btn-prev {
    transform: rotate(180deg);
    border-color: rgba(198, 198, 198, 1);
    margin-right: 20px;
}
.btn-next {
}
.btn-prev .arrow {
    border-color: rgba(198, 198, 198, 1);
}
.btn-prev .arrow-line {
    background-color: rgba(198, 198, 198, 1);
}
.hotels .header .hr {
    width: 30%;
    height: 1px;
    border: none;
    background-color: rgba(196, 196, 196, 1);
}
.hotels-btn {
    width: 140px;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 2px;
    color: rgba(150, 150, 150, 1);
    font-size: 14px;
    font-weight: bold;
    justify-self: flex-end;
}
.hotels .container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-around;
}
.hotel-card {
    width: 460px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}
.hotel-card .hotel-img {
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 0;
    margin-left: 0px;
}
.hotel-card .location {
    width: auto;
    height: 30px;
    min-height: 30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}
.hotel-card .rating {
    margin-top: auto;
    margin-bottom: 30px;
}
.hotel-card .rating .icon {
    width: 90px;
    height: 18px;
}
.hotel-card .name {
    margin-bottom: auto;
    color: white;
    font-size: 20px;
}
.actualtours {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actualtours .header {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.actualtours .header label {
    font-size: 45px;
    color: rgba(35, 35, 35, 1);
}
.actualtours .header hr {
    width: 30%;
    height: 0;
}
.actualtours .header .all-tours-btn {
    background-color: transparent;
    width: 140px;
    height: 45px;
    color: rgba(150, 150, 150, 1);
    font-size: 14px;
    border: 1px solid #969696;
    border-radius: 2px;
    font-weight: bold;
}
.actualtours .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}
.tours-cards {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tour-card {
    width: 327px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.tour-card .card-image {
    width: 100%;
    height: 250px;
}
.tour-card .card-image .fix {
    margin-bottom: 15px;
}
.tour-card .card-image .location {
    width: auto;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
}
.tour-card .card-body {
    width: 100%;
    height: fit-content;
    background-color: rgba(248, 248, 248, 1);
    padding-top: 10px;
}
.tour-card .card-body .card-name {
    font-size: 20px;
    margin-left: 20px;
}
.tour-card .card-body .card-general {
    font-size: 16px;
    color: rgba(132, 132, 132, 1);
    margin-top: 29px;
    margin-left: 20px;
}
.tour-card .card-body hr {
    width: 90%;
    height: 0px;
    background-color: rgba(232, 232, 232, 1);
    margin-left: 5%;
    margin-top: 26px;
    margin-bottom: 23px;
}
.tour-card .card-body .card-floor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 14px;
}
.tour-card .card-body .card-floor .floor-leftside {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.tour-card .card-body .card-floor .floor-leftside label {
    color: rgba(221, 64, 83, 1);
}
.tour-card .card-body .card-floor .floor-leftside .text {
    font-size: 16px;
}
.tour-card .card-body .card-floor .floor-leftside .price {
    font-size: 24px;
}
.tour-card .card-body .card-floor .floor-leftside .floor-note label {
    color: rgba(201, 201, 201, 1);
    font-size: 12px;
}
.tour-card .card-body .card-floor .floor-rightside {
    font-size: 12px;
    margin-right: 22px;
}
.actualtours .floor {
    background-color: rgba(248, 248, 248, 1);
    width: 66%;
    height: 146px;
    min-width: 964px;
    margin-bottom: 93px;
}
.actualtours .floor .line {
    width: 100%;
    border: none;
    height: 6px;
    background-color: rgba(150, 150, 150, 1);
    margin-bottom: 25px;
}
.actualtours .floor .captions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.actualtours .floor .captions .container {
    display: flex;
    flex-direction: row;
    width: 825px;
}
.actualtours .floor .captions .container .mark input {
    height: 50px;
    width: 99%;
    border: 1px solid rgba(46, 46, 46, 0.2);
    border-radius: 2px;
}

#from {
    width: 100px;
}
#to {
    width: 215px;
}
#date {
    width: 220px;
}
#guests {
    width: 140px;
}
#nights {
    width: 170px;
}
.floor .captions .tour-find {
    width: 135px;
    height: 50px;
    background-color: rgba(221, 64, 83, 1);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 40px;
}
.news {
    width: 100%;
    height: 620px;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news .header {
    width: 72%;
    height: 50px;
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 72px;
}
.news .header h1 {
    color: rgba(35, 35, 35, 1);
    font-size: 45px;
    font-weight: normal;
}
.news .header hr {
    width: 30%;
    height: 0px;
}
.news .header .all-news {
    width: 140px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #969696;
    border-radius: 2px;
    color: rgba(150, 150, 150, 1);
    font-size: 14px;
    font-weight: bold;
}
.news .container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news .container .news-cards {
    width: 72%;
    display: flex;
    justify-content: space-around;
}
.news .container .news-cards .news-card {
    width: 238px;
    height: 383px;
    background-color: transparent;
}
.news .container .news-cards .news-card img {
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
}
.news .container .news-cards .news-card .news-date {
    display: flex;
    justify-content: flex-start;
}
.news .container .news-cards .news-card label {
    font-size: 20px;
    color: rgba(50, 50, 50, 1);
}
.news .container .news-cards .news-card a {
    display: block;
    font-size: 14px;
    color: rgba(221, 64, 83, 1);
    margin-top: 25px;
}
.news .container .news-cards .news-card .news-date img {
    width: 16px;
    height: 16px;
}
.news .container .news-cards .news-card .news-date label {
    margin-left: 9px;
    color: rgba(187, 187, 187, 1);
    margin-bottom: 6px;
    font-size: 14px;
}
.blog {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}
.blog .header {
    width: 72%;
    height: 50px;
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.blog .header h1 {
    color: rgba(35, 35, 35, 1);
    font-size: 45px;
    font-weight: normal;
}
.blog .header hr {
    width: 30%;
    height: 0px;
}
.blog .header .all-articles {
    width: 140px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #969696;
    border-radius: 2px;
    color: rgba(150, 150, 150, 1);
    font-size: 14px;
    font-weight: bold;
}
.blog .header img {
    position: absolute;
    top: -170px;
    left: 54%;
    width: 372px;
    height: 405px;
    background: transparent;
}
.blog .container {
    width: 72%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blog .container .buttons {
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
}
.blog .container .articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.blog .container .articles .article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.blog .container .articles .article .article-content {
    display: block;
    width: 270px;
    height: 305px;
}
.blog .container .articles .article .article-content .article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-top: 18px;
}
.blog .container .articles .article .article-content .article-header .article-date {
    display: flex;
    flex-direction: row;
    width: auto;
}
.blog .container .articles .article .article-content .article-header .article-date img {
    margin-right: 9px;
    width: 16px;
    height: 16px;
}
.blog .container .articles .article .article-content .article-header .article-date label {
    font-size: 14px;
    color: rgba(187, 187, 187, 1);
    white-space: nowrap;
}
.blog .container .articles .article .article-content .article-header .article-vievers {
    display: flex;
    flex-direction: row;
    width: auto;
}
.blog .container .articles .article .article-content .article-header .article-vievers img {
    margin-right: 9px;
}
.blog .container .articles .article .article-content .article-header .article-vievers label {
    font-size: 14px;
    color: rgba(187, 187, 187, 1);
}
.blog .container .articles .article .article-content label {
    color: rgba(50, 50, 50, 1);
    font-size: 20px;
}
.blog .container .articles .article .article-content .article-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.blog .container .articles .article .article-content .article-footer a {
    font-size: 14px;
    color: rgba(221, 64, 83, 1);
    text-decoration: none;
    margin-right: 45px;
    margin-top: 30px;
}
.blog .container .articles .article .article-content .article-footer #arrow-container {
    position: relative;
    display: block;
    width: 25px;
    margin-top: 30px;
}
.blog .container .articles .article .article-content .article-footer #arrow-container .arrow-line {
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: rgba(221, 64, 83, 1);
    top: 50%;
}
.blog .container .articles .article .article-content .article-footer #arrow-container .arrow-topline {
    position: absolute;
    width: 4px;
    height: 1px;
    background-color: rgba(221, 64, 83, 1);
    transform: rotate(45deg);
    left: 80%;
    top: 40%;
}
.blog .container .articles .article .article-content .article-footer #arrow-container .arrow-botline {
    position: absolute;
    width: 3px;
    height: 1px;
    background-color: rgba(221, 64, 83, 1);
    transform: rotate(135deg);
    left: 85%;
    top: 65%;
}
.mailing {
    width: 100%;
    height: 255px;
    background-color: rgba(221, 64, 83, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}
.mailing img {
    position: absolute;
    width: 406px;
    height: 406px;
    top: -100px;
    left: 70%;
}
.mailing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}
.mailing .container .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
}
.mailing .container .form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.mailing .container .text h1 {
    color: white;
    font-size: 28px;
}
.mailing .container .text label {
    color: white;
    font-size: 16px;
}
.mailing .container .form #email {
    width: 410px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 2px;
    padding-left: 30px;
    color: white;
}
.mailing .container .form #email::placeholder {
    color: white;
    font-size: 18px;
}
.mailing .container .form label {
    font-size: 16px;
    color: white;
    margin-left: 20px;
}
#me {
    border-color: white;
    width: 25px;
    height: 25px;
    justify-self: space-around;
}
#me:after {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgba(221, 64, 83, 1);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#me:checked:after {
    content: '✔';
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    color: rgba(221, 64, 83, 1);
    text-align: center;
    line-height: 25px;
    font-size: 24px;
}
.mailing .container .form .send {
    width: 237px;
    height: 50px;
    background-color: white;
    border-radius: 2px;
    border-width: 0px;
    justify-self: flex-end;
    margin-left: auto;
}
.tourist {
    margin-left: auto;
}
.agent {
    margin-left: auto;
}
.about-us {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: rgba(248, 248, 248, 1);
}
.about-us .container {
    width: 1179px;
    height: 100%;
    background-image: url(../images/background-planet.png);
    background-repeat: no-repeat;
}
.about-us .container .header {
    margin-left: 70px;
    margin-top: 81px;
    margin-bottom: 40px;
}
.about-us .container .header h1 {
    font-size: 40px;
    color: rgba(35, 35, 35, 1);
}
.about-us .container .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 70px;
}
.about-us .container .content .about-block {
    width: 505px;
    height: 165px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
.about-us .container .content .about-block label {
    margin-left: 30px;
    margin-top: 30px;
    color: rgba(101, 101, 101, 1);
    font-size: 16px;
    width: 399px;
}
.about-us .container .content .about-block .about-icon {
    margin-right: 30px;
    margin-top: 30px;
    background-color: transparent;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(198,198,198);
}
.about-us .container .content .about-block .about-icon .about-icon-circle {
    color: rgb(198,198,198);
    width: 20px;
    height: 20px;
    border: 2px solid rgb(198,198,198);
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border-right-width: 0px;
    border-top-width: 0px;
}
.about-us .container .content .about-block:first-child {
    border-left-width: 6px;
    border-left-style: solid;
    border-left-color: rgba(221, 64, 83, 1);
}
.about-us .container .content .about-block:first-child .about-icon {
    background-color: rgba(221, 64, 83, 1);
}
.about-us .container .content .about-block:first-child .about-icon .about-icon-circle {
    border: 2px solid white;
    color: white;
    border-right-width: 0px;
    border-top-width: 0px;
}
.special-offer {
    width: 100%;
    height: 450px;
    background-image: url(../images/special.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.special-offer .container {
    width: 554px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 500px;
}
.special-offer img {
    position: absolute;
    right: 30%;
    top: 57px;
}
.special-offer .container h1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
}
.special-offer .container label {
    color: white;
    font-size: 16px;
}
.special-offer .container button {
    width: 270px;
    height: 60px;
    color: rgba(150, 150, 150, 1);
    background-color: white;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
}
.our-countries {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.our-countries #countrie-icon-1 {
    position: absolute;
    top: -5px;
    right: 100px;
}
.our-countries #countrie-icon-2 {
    position: absolute;
    top: 154px;
    left: -5px;
}
.our-countries #countrie-icon-3 {
    position: absolute;
    top: 85%;
    right: 0px;
}
.our-countries .content {
    width: 70%;
    height: 627px;
}
.our-countries .content h2 {
    font-size: 24px;
    color: rgba(221, 64, 83, 1);
    font-weight: bold;
    font-family: 'Comforter', cursive;
    margin-top: 110px;
}
.our-countries .content .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.our-countries .content .header h1 {
    color: black;
    font-size: 36px;
    width: 50%;
    font-weight: normal;
}
.our-countries .content .header label {
    align-self: flex-end;
    margin-top: auto;
    font-size: 16px;
    color: rgba(221, 64, 83, 1);
    width: 180px;
    text-shadow: 0px 5px 10px gray;
}
.our-countries .content .header label bold {
    font-weight: bold;
}
.countries-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.countries-list .flags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.countries-list .flags .countrie {
    width: 250px;
    height: 200px;
    background-color: rgba(248, 248, 248, 1);
    border: 2px solid rgba(240, 240, 240, 1);
    box-shadow: 0px 2px 1px rgba(196, 196, 196, 1);
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
}
.countries-list .flags .countrie img {
    margin-top: -45px;
    margin-left: 15px;
}
.countries-list .flags .countrie h1 {
    font-size: 20px;
    position: absolute;
    color: rgba(50, 50, 50, 1);
    width: auto;
    display: block;
    justify-self: flex-end;
    margin-left: auto;
    margin-top: -30px;
    right: 9%;
}
.countries-list .flags .countrie .countrie-detail {
    background-color: rgba(170, 170, 170, 1);
    color: white;
    width: 83%;
    height: 40px;
    margin-left: 20px;
    margin-top: 30px;
    border: none;
    border-radius: 2px;
}
.countries-list .countries-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.countries-list .countries-info label {
    width: 30%;
}
.countries-list .countries-info .text {
    display: block;
    border: 1px solid rgba(101, 101, 101, 1);
    box-shadow: 0px 5px 10px rgba(101, 101, 101, 1);
    width: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
}
.countries-list .countries-info .text label {
    width: 100%;
    line-height: 25px;
    margin-left: 20px;
}
.consierge {
    width: 100%;
    height: 991px;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.consierge .container {
    width: 80%;
    display: flex;
    flex-direction: row;
}
.consierge .container .left-side {
    width: 60%;
}
.consierge .container .left-side h1 {
    font-size: 31px;
    color: black;
    width: 640px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.consierge .container .left-side hr {
    width: 640px;
    margin-bottom: 30px;
    background-color: rgba(196, 196, 196, 1);
    border: none;
    height: 1px;
}
.consierge .container .left-side .about-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 640px;
}
.consierge .container .left-side .about-text label {
    font-size: 17px;
    width: 270px;
    line-height: 28px;
}
.consierge .container .left-side .about-text label:first-child {
    width: 304px;
}
.consierge .container .right-side {
    width: 40%;
    position: relative;
    height: 520px;
}
.consierge .container .right-side img {
    position: absolute;
    top: 100px;
    margin-top: 0;
}
.consierge .container .right-side img:first-child {
    top: 0;
    margin-top: 200px;
}
.consierge .container .right-side .circle {
    width: 129.9px;
    height: 129.9px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    background-color: rgba(221, 64, 83, 1);
    border-radius: 50%;
    position: absolute;
    left: 250px;
    top: 20%;
}
.consierge .container .right-side .circle .triangle {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid rgba(221, 64, 83, 1); 
    transform: rotate(-40deg);
    margin-top: 25px;
    margin-left: 7px;
}
.consierge .container .right-side .circle label {
    font-family: 'Comforter', cursive;
    color: white;
    font-size: 24px;
    transform: rotate(-20deg);
    display: block;
    font-weight: normal;
    text-align: center;
    margin-top: 40px;
}
.consierge .footer {
    width: 100%;
    height: 471px;
    background: url(../images/consierge-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
}
.consierge .footer .content {
    width: 80%;
    height: 100%;
}
.consierge .footer .content h1 {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(50, 50, 50, 1);
    width: 447px;
    margin-bottom: 34px;
}
.consierge .footer .content h1 bold {
    font-weight: bold;
}
.consierge .footer .content .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 85%;
}
.consierge .footer .content .text li {
    color: rgba(37, 37, 37, 1);
    font-width: 17px;
    line-height: 26px;
    font-weight: bold;
    height: 70px;
    margin-top: 10px;
    max-width: 387px;
    margin-right: 600px;
    margin-left: 30px;
    counter-increment: inst;
    list-style-type: none;
}
.consierge .footer .content .text li::before {
    content: '/0' counter(inst) '. ';
    color: #969696;
    font-weight: normal;
    opacity: 0.5;
    margin-right: 50px;
}
.consierge .footer .content .text li:first-child {
    border-bottom: 5px solid rgba(221, 64, 83, 1);
    margin-top: 0px;
}
.consierge .footer .content .text li:first-child::before {
    content: '/ ';
    content: '/0' counter(inst) '. ';
    color: #252525;
    font-weight: normal;
    opacity: 1;
}
.consultation-form {
    width: 100%;
    height: 475px;
    display: flex;
    justify-content: center;
    background: url(../images/consultation-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.consultation-form .container {
    width: 72%;
    height: 80%;
}
.consultation-form .container .upper-side {
    width: 100%;
    height: 245px;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.consultation-form .container .upper-side .left-block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.consultation-form .container .upper-side .left-block h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}
.consultation-form .container .upper-side .left-block label {
    font-size: 20px;
    color: white;
}
.consultation-form .container .upper-side .right-block {
    width: 275px;
    height: 180px;
    background-color: rgba(255,255,255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.consultation-form .container .upper-side .right-block label {
    font-size: 16px;
    color: white;
    margin-left: 30px;
}
.consultation-form .container .upper-side .right-block span {
    font-size: 200px;
    margin-left: -40px;
    color: white;
    font-family: "Suisse-FreeTrial";
}
.consultation-form .container .bottom-side {
    width: 100%;
}
.consultation-form .container .bottom-side form {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.consultation-form .container .bottom-side form input {
    background-color: transparent;
    border: 1px solid rgba(190, 190, 190, 1);
    box-sizing: border-box;
    border-radius: 2px;
    width: 270px;
    height: 50px;
    /*margin-right: 20px;*/
    padding-left: 20px;
    font-size: 16px;
    color: rgba(196, 196, 196, 1);
}
.consultation-form .container .bottom-side form input::placeholder {
    color: rgba(196, 196, 196, 1);
    font-size: 16px;
}
.consultation-form .container .bottom-side form input:focus {
    background-color: rgba(25, 28, 32, 1);
}
.consultation-form .container .bottom-side form button {
    background-color: white;
    width: 170px;
    height: 50px;
    color: rgba(150, 150, 150, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
.statistic {
    width: 100%;
    height: 1081px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.statistic .statistic-background {
    position: absolute;
    /*left: 91%;*/
    right: 0;
    top: 40%;
}
.statistic .container {
    height: 840px;
    width: 80%;
}
.statistic .container .upper-side {
    width: 100%;
    height: 322px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 62px;
}
.statistic .container .upper-side .left-side {
    display: flex;
    flex-direction: column;
}
.statistic .container .upper-side .left-side h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 32px;
}
.statistic .container .upper-side .left-side h1:after {
    content: 'В ЦИФРАХ';
    color: rgba(221, 64, 83, 1);
    font-size: 40px;
}
.statistic .container .upper-side .left-side .bottom-side {
    display: flex;
    justify-content: flex-start;
}
.statistic .container .upper-side .left-side .bottom-side label {
    font-size: 20px;
    color: rgba(137, 137, 137, 1);
    max-width: 241px;
}
.statistic .container .upper-side .left-side .bottom-side img {
    width: 43px;
    height: 92px;
}
.statistic .container .upper-side .right-side {
    width: 683px;
    height: 322px;
}
.statistic .container .bottom-side {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.statistic .container .bottom-side .card {
    height: 185px;
    /*margin-right: 15%;*/
    flex: 1 0 33%
}
.statistic .container .bottom-side .card h1 {
    font-size: 60px;
    color: black;
    margin-bottom: 25px;
}
.statistic .container .bottom-side .card hr {
    width: 300px;
    height: 0px;
    border: 1px solid rgba(101, 101, 101, 1);
    margin-bottom: 20px;
}
.statistic .container .bottom-side .card label {
    font-size: 17px;
    color: rgba(101, 101, 101, 1);
    width: 300px;
    display: block;
}
.partners {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 1);
    position: relative;
}
.partners .partner-background-frame {
    position: absolute;
    left: 0;
    top: -100px;
}
.partners .container {
    width: 73%;
    height: 45%;
    display: flex;
    flex-direction: column;
}
.partners .container .upper-side {
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: 89px;
}
.partners .container .upper-side .left-side {
    width: 381px;
    height: 100%;
}
.partners .container .upper-side .left-side label {
    font-size: 40px;
    color: black;
    max-width: 381px;
    font-weight: bold;
}
.partners .container .upper-side .right-side label{
    font-size: 20px;
    color: rgba(101, 101, 101, 1);
    margin-bottom: 30px;
    max-width: 520px;
    font-weight: normal;
}
.partners .container .upper-side .right-side label:last-child {
    margin-bottom: 0px;
}
.partners .bottom-side {
    width: 100%;
    height: 356px;
    background: linear-gradient(0deg, transparent, 5%, #F8F8F8), url(../images/partners/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners .bottom-side .partners-list {
    height: 175px;
    width: 1040px;
    display: flex;
    justify-content: flex-start;
}
.partners .bottom-side .partners-list .partner-card {
    width: 175px;
    height: 175px;
    border-left: 1px solid rgba(196, 196, 196, 0.5);
    border-right: 1px solid rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.partners .bottom-side .partners-list .partner-card:first-child {
    border-left: none;
    border-top: 6px solid rgba(221, 64, 83, 1);
    height: 169px;
}
.partners .bottom-side .partners-list .partner-card:last-child {
    border-right: none;
}
.partners .bottom-side .btn-prev {
    margin-right: 80px;
}
.partners .bottom-side .btn-next {
    margin-left: 80px;
}