* {
	margin: 0;
	padding: 0;
}
body {
	overflow-y: visible;
	overflow-x: hidden;
}

#welcome {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*font-size: max(1.1vw, 15px);*/
	position: relative;
	background-color: rgb(28, 28, 27);
	width: 100vw;
	height: 100vh;
}
#textbox {
	color: rgb(41,110,1);
	font-family: "VT323";
	font-size: 28px;
	position: relative;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	max-width: 70vw;
	background-color: none;
	height: auto;
}
.animation_line {
	position: absolute;
	background-color: rgb(28, 28, 27);
	height: 1em;
	right: 0;
	width: 100%;
}
#animation_1 {
	margin-top: 0em;
	animation: printing_1 1s steps(87) 1 1s normal both;
}
#animation_2 {
	margin-top: 1em;
	animation: printing_1 1s steps(87) 1 2s normal both;
}
#animation_3 {
	margin-top: 2em;
	animation: printing_1 1s steps(87) 1 3s normal both;
}
#animation_4 {
	margin-top: 3em;
	animation: printing_1 1s steps(87) 1 4s normal both;
}
@keyframes printing_1 {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}
#arrow {
	position: absolute;
	top: 92vh;
	border: solid white;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 30px;
  	transform: rotate(45deg);
  	border-style: none;
  	-webkit-transform: rotate(45deg);
  	animation: arrow_pick 1.5s 2s infinite;
}
@keyframes arrow_pick {
	0% {
		border-style: solid;
		opacity: .3;
		top: 92vh;
	}
	50% {
		border-style: solid;
		opacity: 0;
		top: 91vh;
	}
	100% {
		border-style: solid;
		opacity: .3;
		top: 92vh;
	}
}
#info {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgb(28, 28, 27), black, rgb(28, 28, 27));
}
#info img {
	justify-self: flex-end;
	float: right;
	width: 64vmin;
	height: 64vmin;
	max-height: 90%;
}
.text_frame {
	justify-self: flex-start;
	min-width: 250px;
	min-height: 110px;
	width: 15vmax;
	height: 14vmin;
	margin-left: 10vw;
	background-color: transparent;
	border: solid white 2px;
	top: 35%;
	left: 30%;
	padding: 10px;
	border-radius: 10px;
	font-family: 'EB+Garamond';
	color: white;
	font-size: 1vmax;
	margin-bottom: 1vmin;
}
#frame_box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#frame_second_floor {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.text_frame h3 {
	text-align: center;
}
#ul_list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#label_text {
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
	margin-bottom: 10px;
}
#contact_info ul {
	margin-left: 20px;
}
#about_me:hover span {
	display: none;
}
#about_me:hover {
	text-align: center;
	line-height: 200px;
}
#about_me:hover a:before {
	content: "About me";
	font-weight: bold;
	color: white;
}
#about_me a {
	font-size: 1.2em;
	text-decoration: none;
}
#skills_list:hover span {
	display: none;
}
#skills_list:hover a:before {
	content: "Portfolio";
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}
#skills_list a {
	text-decoration: none;
	line-height: 200px;
}
#skills_list:hover {
	text-align: center;
}
#contact_info:hover span {
	display: none;
}
#contact_info:hover a:before {
	content: "Contact me";
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}
#contact_info:hover a {
	text-decoration: none;
}
#contact_info:hover {
	line-height: 200px;
	text-align: center;
}