* {
	margin: 0;
	padding: 0;
}
#welcome {
	position: relative;
	background: #1c1c1b;
	width: 100vw;
	height: 100vh;
}
#textbox {
	position: absolute;
	width: 30%;
	height: 30%;
	background-color: white;
	left: 35%;
	top: 35%;
	color: #296e01;
	font-family: "VT323";
	font-size: 30px;
	background-color: #1c1c1b;
}
#first {
	white-space: nowrap;
	overflow: hidden;
	animation: writer 3s steps(44) 1s 1 normal both,
	blink_cursor_first 0.5s steps(44) 1s 6 normal both;
	border-right: solid;
}
@keyframes writer {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes blink_cursor_first {
	from{
		border-right-color: #296e01
	}
  	to{
  		border-right-color: transparent;
  	}
}
#second {
	white-space: nowrap;
	overflow: hidden;
	width: 0;
	animation: writer_second 1.5s steps(44) 4s 1 normal both,
	blink_cursor_second 0.5s steps(44) 3.9s infinite normal;
	border-right: solid transparent;
}
@keyframes writer_second {
	0% {
		width: 0;
	}
	100% {
		width: 330px;
	}
}
@keyframes blink_cursor_second {
	from{
		border-right-color: #296e01
	}
  	to{
  		border-right-color: transparent;
  	}
}
#arrow_down {
	position: absolute;
	top: 95%;
	height: 5%;
	width: 100%;
}
/*#left_side_arrow {
	background-color: white;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	height: 1px;
	margin-left: 10%;
	width: 30%;
}*/
.arrow {
	background-color: #1c1c1b;
	border-style: none;
}
#left_side_arrow {
	position: absolute;
	top: -70%;
	color: white;
	background-color: white;
	height: 1px;
	width: 35%;
	margin-left: 10%;
	border-style: none;
}
#central_right_arrow {
	position: absolute;
	top: 95vh%;
	color: white;
	background-color: white;
	height: 1px;
	width: 5%;
	margin-left: 44.2%;
	border-style: none;
	transform: rotate(225deg);
	float:right;
}
#central_left_arrow {
	position: absolute;
	top: 0%;
	color: white;
	background-color: white;
	height: 1px;
	width: 5%;
	margin-left: 47.7%;
	border-style: none;
	transform: rotate(135deg);
}
#right_side_arrow {
	position: absolute;
	top: -70%;
	color: white;
	background-color: white;
	height: 1px;
	width: 40%;
	margin-left: 51.9%;
	border-style: none;
}